/timezonepicker/build
/timezonepicker/timezonepicker.iml
/Calendar.iml
/app/app.iml
/app/build
/gradle
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/colorpicker/colorpicker.iml
/datetimepicker/datetimepicker.iml
/colorpicker/build
/captures
/datetimepicker/build
/gradle.properties
/gradlew
/gradlew.bat
/chips/chips.iml
/.idea
/chips/build
